.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 50px;
  background-color: white;
  color: #171717;
  padding: 40px 20px;
  margin: 20px auto;
  box-sizing: border-box;
  border-radius: 20px;
  width: 80vw;
  border: #d83a00 2px solid;
}
.bar {
  padding: 0px 20px;
}
.info {
  text-align: center;
  justify-content: center;
}
.graph {
  display: flex;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .stats {
    width: 100vw;
  }
}
@media screen and (max-width: 1000px) {
  .stats {
    grid-template-columns: 1fr;
  }
}
