.modalContainer {
  display: flex;
  color: #181818;
  gap: 50px;
  padding: 20px 50px;
}
.cardImage {
  width: 400px;
  height: 100%;
}
.cardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.legalidade div {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.legalidade th,
td {
  border: 1px solid;
  padding: 5px 10px;
  font-family: "bold";
}

.legal {
  color: #2bb610;
  font-family: "bold";
}
.ilegal {
  color: #cc0f0f;
  font-family: "bold";
}
.btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.fav {
  height: 32px;
}
.cardName {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1400px) {
  .modalContainer {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 50px;
  }
}
@media screen and (max-width: 800px) {
  .modalContainer {
    padding: 20px 10px;
  }
  .cardImage {
    width: 200px;
  }
  .cardInfo {
    font-size: 0.8rem;
  }
  .legalidade div {
    width: 150px;
  }
}
@media screen and (max-width: 800px) {
  .legalidade div {
    display: flex;
    flex-direction: column;
    width: 100px;
    text-align: center;
    margin: 0 auto;
  }
}
